<nav class="bg-dark navbar navbar-dark navbar-expand-lg opacity-50 position-absolute w-100">
  <%= render 'shared/navigation' %>
</nav>
<section id="homepage" class="carousel slide carousel-fade h-100" data-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#homepage" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#homepage" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#homepage" data-bs-slide-to="2"></button>
  </div>
  <div class="carousel-inner">
    <% @articles.each.with_index do |article, i| %>
    <div class="carousel-item <%= 'active' if i == 0 %>">
      <%= image_tag article.image_url, class: 'd-block w-100 h-auto' %>
      <div class="carousel-caption d-block">
        <h3 class='fs-1 text-shadow'><%= article.name %></h3>
        <%= link_to 'Read more', article, class: 'btn btn-light'%>
      </div>
    </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#homepage" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#homepage" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</section>